:root {
    --display-flex: flex;
    --font-weight-for-p: 400;
    --font-weight-for-h: 600;
    --width-80: 80%;
    --width-90: 90%;
    --width-100: 100%;
    --color-orange: hsl(14, 45%, 36%);
    --margin-bottom-2per: 2%;
    --margin-left-2per: 2%;
    --margin-left-5per: 5%;
    --margin-left-10per: 10%;
    --margin-left-20per: 20%;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-17: 17px;
    --font-size-20: 20px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-40: 40px; 
    --border-radius-container: 20px;
    --border-radius-img: 10px;
}

html {
  background-color: hsl(30, 54%, 90%);
  display: var(--display-flex);
  justify-content: center;
  margin: 0;
}


.font-young-serif {
  font-family: "Young Serif", serif;
  font-weight: calc(var(--font-weight-for-p) + 100);
  font-style: normal;
}

.font-outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-for-p);
    font-style: normal;
}

.font-p-sizes-colors {
    font: normal var(--font-weight-for-p) var(var(--font-size-16));
    color: hsl(30, 10%, 34%);
}

.padding-left-in-ol-ul {
    padding-left: 6%;
}

.container {
    position: relative;
    margin-top: 10vh;
    width: 35vw;
    background-color: hsl(0, 0%, 100%);
    padding: 6% 6%;
    border-radius: var(--border-radius-container);
    margin-bottom: 10vh;
}

.main-img-div {
    width: var(--width-100);
    display: var(--display-flex);
    align-items: center;
    justify-content: center;
}

.main-img-div img {
    width: var(--width-100);
    border-radius: var(--border-radius-img);
}


h1 {
    font-size: var(--font-size-40);
    color: hsl(24, 5%, 18%);
}

#h1-under-p {
    font: normal var(--font-weight-for-p) var(var(--font-size-16));
    color: hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-for-p);
    font-style: normal;
}

h2 {
    color: var(--color-orange);
    font-size: var(--font-size-30);
}

.preparation-time-div {
    width: var(--width-100);
    margin: 8% 0% 8% 1%;
}

#h3-preparation-time {
    color: hsl(332, 51%, 32%);
    margin-left: 2.5%;
    font-weight: var(--font-weight-for-h);
}

.preparation-time-div ul li {
    margin-bottom: var(--margin-bottom-2per);
}

.preparation-time-div ul li p{
    margin-left: var(--margin-left-2per);
}

.preparation-time-div ul li::marker {
    color: hsl(332, 51%, 32%);
}

.ingredients-div {
    width: var(--width-100);
    border-bottom: 1px solid hsla(30, 10%, 34%, 0.2);
    padding-bottom: 4%;
}

.ingredients-div ul li {
    margin-bottom: var(--margin-bottom-2per);
}

.ingredients-div ul li p{
    margin-left: var(--margin-left-2per);
}

.ingredients-div ul li::marker {
    color: var(--color-orange);
}

.instructions-div {
    margin-top: 5%;
    width: var(--width-100);
}

.instructions-div ol li::marker{
    color: var(--color-orange);
    font-weight: var(--font-weight-for-h);
}

.instructions-div ol li p{
    margin-left: var(--margin-left-2per);
}

.instructions-div {
    width: var(--width-100);
    border-bottom: 1px solid hsla(30, 10%, 34%, 0.2);
    padding-bottom: 4%;
}

#th {
    font-size: var(--font-size-16);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-for-p);
    font-style: normal;
}


.td1-of-tr-of-table {
    font: normal var(--font-weight-for-p) var(var(--font-size-16));
    color: hsl(30, 10%, 34%);
}

.td2-of-tr-of-table {
    font: normal var(--font-size-16);
    color: var(--color-orange);
    font-weight: var(--font-weight-for-h);
}

table {
    border-collapse: collapse;
    width: var(--width-100);
}
td, th {
    border-bottom: 1px solid hsla(30, 10%, 34%, 0.2);
}

#last-child-of-tbody td, th {
    border-bottom: none;
}

table p {
    margin-left: var(--margin-left-10per);
}

@media (max-width: 900px) {

    .main-img-div img {
    border-radius: calc(var(--border-radius-img) - 2px);
    }

    h1 {
        font-size: var(--font-size-30);
    }

    #h1-under-p {
        font-size: var(--font-size-16);
    }    

    .font-p-sizes-colors {
    font-size: var(--font-size-16);
    }

    .container {
    width: 55vw;
    border-radius: calc(var(--border-radius-container) - 5px);
    }

    .ingredients-div ul li p:last-child{
    width: 70%;
    }

    .instructions-div ol li p{
    font-size: var(--font-size-16);
    }

    #h3-preparation-time {
    margin-left: 4%;
    font-size: var(--font-size-20);
    }

    h2 {
    font-size: var(--font-size-25);
    margin-left: 3%;
    }

    #th {
    font-size: var(--font-size-17);
    margin-left: var(--margin-left-5per);
    width: var(--width-90);
    }

    .td1-of-tr-of-table {
    font-size: var(--font-size-16);
    }

    .td2-of-tr-of-table {
    font-size: var(--font-size-16);
    }

    table p {
    margin-left: 15%;
    }
}

@media (max-width: 600px) {

    .main-img-div img {
    border-radius: calc(var(--border-radius-img) - 2px);
    }

    h1 {
        font-size: var(--font-size-25);
    }

    #h1-under-p {
        font-size: var(--font-size-14);
    }

    .font-p-sizes-colors {
    font-size: var(--font-size-12);
    }

    .container {
    width: 45vw;
    border-radius: calc(var(--border-radius-container) - 8px);
    }

    .ingredients-div ul li p:last-child{
    width: var(--width-80);
    }    

    .instructions-div ol li p{
    font-size: var(--font-size-14);
    }

    .instructions-div ol li::marker{
    font-weight: calc(var(--font-weight-for-h) + 300);
    }

    .instructions-div ol li:first-child::marker{
    font-size: calc(var(--font-size-12) + 1px);
    }

   #h3-preparation-time {
    margin-left: var(--margin-left-10per);
    font-size: calc(var(--font-size-16) - 1px);
    }

    .preparation-time-div ul li {
    margin-left: 6%;
    }


    h2 {
    font-size: var(--font-size-20);
    margin-left: var(--margin-left-5per)
    }

    #th {
    font-size: calc(var(--font-size-12) - 1px);
    margin-left: var(--margin-left-5per);
    width: var(--width-90);
    }

    .td1-of-tr-of-table {
    font-size: var(--font-size-12);
    }

    .td2-of-tr-of-table {
    font-size: var(--font-size-12);
    }

    table p {
    margin-left: var(--margin-left-20per);
    }
}


@media (max-width: 450px) {

    .main-img-div img {
    border-radius: var(--border-radius-img);
    }

    h1 {
        font-size: var(--font-size-40);
        width: var(--width-100);
    }

    #h1-under-p {
        font-size: var(--font-size-20);
    }

    .font-p-sizes-colors {
    font-size: var(--font-size-16);
    }

    .container {
    margin-top: 0vh;
    padding: 8% 8%;
    width: 100vw;
    border-radius: var(--border-radius-container);
    margin-bottom: 0vh;
    }

    .ingredients-div ul li p:last-child{
    width: var(--width-80);
    }    

    .instructions-div ol li p{
    font-size: var(--font-size-16);
    }

    .instructions-div ol li::marker{
    font-weight: calc(var(--font-weight-for-h) + 300);
    }

    .instructions-div ol li:first-child::marker{
    font-size: calc(var(--font-size-12) + 1px);
    }

   #h3-preparation-time {
    margin-left: var(--margin-left-10per);
    font-size: var(--font-size-20);
    }

    .preparation-time-div ul li {
    margin-left: 6%;
    }

    h2 {
    font-size: var(--font-size-25);
    margin-left: var(--margin-left-5per);
    }

    #th {
    font-size: var(--font-size-17);
    margin-left: var(--margin-left-5per);
    width: var(--width-90);
    }

    .td1-of-tr-of-table {
    font-size: var(--font-size-17);
    }

    .td2-of-tr-of-table {
    font-size: var(--font-size-17);
    }

    table p {
    margin-left: var(--margin-left-20per);
    }
}